<ion-content [fullscreen]="true" >
  <div class="container">
    <div class="we"><img src="logo.png" alt="" ></div>
    <div class="he"><h6> Republic of the philippines <br> PROVINCE OF NUEVA ECIJA <br> Municipality of Gabaldon </h6>
      <h2>EMERGENCY RESPONSE TEAM</h2> <h3>Organizational Structure</h3></div>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
            <img src="jobby.jpg" alt="dhjsh">
          <ion-label>Item</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
