<ion-content>
  <div class="container">
  <div class="login">
    <ion-input class="in" label="Username" label-placement="floating"
     fill="solid" placeholder="Enter text"></ion-input>

     <br />
<ion-input label="Password" type="Password" label-placement="floating" 
fill="solid" placeholder="Enter text"></ion-input>

<br />

<ion-button color="medium" expand="block">LOG IN</ion-button>
<ion-button color="light" class="reset" fill="clear"><u>Forgot Password?</u></ion-button>
  </div>
</div>
  </ion-content>
