.login{
    background: url(mdrrmoLogo.jpg) no-repeat center/cover fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ion-input{
    width: 15rem;
}
.reset{
    color: black;
}