.container{
    background: url(LoginLogo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.login{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ion-input{
    width: 15rem;
}
.reset{
    color: black;
}