.container{
    background: url(LoginLogo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.in{
    margin-top: 45px;
}
.login{
    background-color: #00000010;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ion-input{
    width: 15rem;
}
.reset{
    color: black;
}
.log{
    width: 8rem;
}