<ion-content [fullscreen]="true">

<div class="bod">
  <div class="bak">
    <i class="fa-solid fa-arrow-left fa-2xl" style="margin-top: 1rem;
    margin-left: 3px;
    color: rgb(182, 182, 182);" ></i>
  </div>
<section>
  <ul>
    <li><a style="color: white;" href="https://www.youtube.com/watch?v=y4vr-vuW6MU"><i class="fa-brands fa-facebook-f"></i></a></li>
    <li><a style="color: white;" href="https://www.facebook.com/MDRRMO.Gabaldon.N.E"><i class="fa-brands fa-x-twitter"src="link"></i></a></li>
    <li><a style="color: white;" href=""><i class="fa-brands fa-instagram"src="link"></i></a></li>
  </ul>
  
</section>
</div>
</ion-content>
