<ion-content [fullscreen]="true">
 <ion-img
  src="https://i.ibb.co/Qkj95Zk/4-C77-B017-1-F8-D-4-B9-C-A03-C-8-DFA8-E9-EEA1-A.png"
  alt=" "
></ion-img>
<section>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
  <ul>
    <li><i class="fa-brands fa-facebook-f" src="link"></i></li>
    <li><i class="fa-brands fa-x-twitter"src="link"></i></li>
    <li><i class="fa-brands fa-instagram"src="link"></i></li>
    <li><i class="fa-brands fa-tiktok"src="link"></i></li>
  </ul>
</section>
</ion-content>
