@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);

.bod{
  background: url(backl.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
section{
    margin-top: 1rem;
    position: absolute;
    width: 100%;
    align-items: center;
    background: linear-gradient(to bottom, rgb(66, 12, 226), rgb(59, 12, 230));
    
}

ul {
   margin-top: 2px;
   position: relative;
   display: flex;
   z-index: 2;
}
h4{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  
li {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 70px;
  display: inline-block;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255,0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
  margin: 10px;

}
p{
  margin-top: 2px;
  margin-bottom: 1px;
  font-size: 15px;
}

#imagecontainer {
    position:absolute;
    top:3%;
    left:0;
    right:62%;
    bottom:50%;
}
#boardimage {
    position:absolute;
    left:10%;
    max-width:85%;
    bottom:0;
    height:100%;
}

li:hover {
  transform: translateY(-20px);
}

li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgb(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: 0.5s;
}

li:hover::before {
  transform: skewX(45deg) translateX(150px);
}