<ion-content [fullscreen]="true">

<div class="bod">
  <div class="bak">
    <i class="fa-solid fa-arrow-left fa-2xl" style="margin-top: 1rem;
    margin-left: 3px;
    color: rgb(182, 182, 182);" ></i><ion-text color="primary">
    <h1 style="margin-top: 40rem; font-size: 12px; text-align: center;" >Stay informed about vital services in Gabaldon by following our highlighted<br> Facebook pages.
        Receive timely updates on public safety from the PNP,<br> disaster preparedness from MDRRMO,
        firefighting initiatives from BFP<br>, and reliable power information from NEECO. Stay connected
        for<br> important announcements and community engagement.</h1>
  </ion-text>
  </div>

<section>
  <ul>
    <h4><li><a style="color: white;" href="https://www.facebook.com/MDRRMO.Gabaldon.N.E"><i class="fa-brands fa-facebook-f"src="link"></i></a></li><p>MDRRMO</p></h4>
    <h4><li><a style="color: white;" href="https://www.facebook.com/profile.php?id=100064783388559"><i class="fa-brands fa-facebook-f"src="link"></i></a></li><p>BFP</p></h4>
    <h4><li><a style="color: white;" href="https://www.facebook.com/pulisya.nggabaldon"><i class="fa-brands fa-facebook-f"src="link"></i></a></li><p>PNP</p></h4>
    <h4><li><a style="color: white;" href="https://www.facebook.com/neeco2a2"><i class="fa-brands fa-facebook-f"src="link"></i></a></li><p>NECCO</p></h4>
  </ul>
  
</section>
</div>
</ion-content>
